<launch>

    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%% Parameter and Argument Setting %%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

    <!-- Initial robot pose -->
    <arg name="robot_x" default="-6.31" />
    <arg name="robot_y" default="-9.55" />
    <arg name="robot_z" default="0.0" />
    <arg name="robot_yaw" default="1.55" />

    <!-- Gazebo settings -->
    <arg name="gui" default="false" />
    <arg name="paused" default="true" />
    <!-- <arg name="paused" value="false" if="$(eval control_mode == 'auto')"/> -->

    <!-- Set scenario details-->
    <arg name="scenario" default="approach_human" />
    <arg name="num_pedestrians" default="5" />
    <arg name="trial_name" default="test" />
    <param name="scenario" value="$(arg scenario)" />
    <param name="num_pedestrians" value="$(arg num_pedestrians)" />
    <param name="trial_name" value="$(arg trial_name)" />

    <!-- Start timer bool flag -->
    <param name="start_timer" value="false" />

    <!-- Set control and manual mode -->
    <arg name="control_mode" default="manual" />
    <arg name="manual_mode" default="pos-vel" />
    <arg name="rvo_planning_horizon" default="3" />
    <param name="control_mode" value="$(arg control_mode)" />
    <param name="manual_mode" value="$(arg manual_mode)" />
    <param name="rvo_planning_horizon" value="$(arg rvo_planning_horizon)" />

    <!-- Set world -->
    <arg name="world_name" default="$(find socially_aware_rvo)/worlds/$(arg scenario).world" />

    
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Gazebo Simulator %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

    <!-- Include Gazebo simulation launch file -->
    <include file="$(find socially_aware_rvo)/launch/gazebo_sim.launch" >
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="robot_x" value="$(arg robot_x)" />
        <arg name="robot_y" value="$(arg robot_y)" />
        <arg name="robot_z" value="$(arg robot_z)" />
        <arg name="robot_yaw" value="$(arg robot_yaw)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
    </include>

    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% People & Group Tracking %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

    <include file="$(find gazebo_group_tracking)/launch/group_tracking.launch" />


    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% SocNavAssist %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

    <!-- Launch rvo agent -->
    <node name="socnavassist" pkg="socially_aware_rvo" type="main.py" output="screen" args="$(arg scenario)"
        required="true" /> 

    <group if="$(eval control_mode == 'manual')">
        <!-- Launch the visual interface -->
        <node name="socnavassist_visual_interface" pkg="visual_interface" type="visual_interface_node" output="screen" />

        <!-- Launch the proxemics evaluation -->
        <node name="proxemics_eval" pkg="visual_interface" type="proxemics_node" output="screen" />

        <!-- Launch the augmented visualization -->
        <node name="augmented_viz" pkg="visual_interface" type="predicted_path_viz" output="screen" />

        <!-- Launch the falcon novint haptic interface -->
        <!-- <node name="socnavassist_haptic_interface" pkg="socially_aware_rvo" type="haptic_interface.py" output="screen" 
            if="$(eval control_mode == 'manual')"/> -->
        <node name="socnavassist_haptic_interface" pkg="haptic_interface" type="haptic_interface_node" output="screen" />
    </group>

    

</launch>
