<launch>
    <!-- initial robot pose -->
    <arg name="robot_x" default="0.009" />
    <!-- <arg name="robot_x" default="4.94" /> -->
    <arg name="robot_y" default="-10.48" />
    <!-- <arg name="robot_y" default="-9.5" /> -->
    <arg name="robot_z" default="0.0" />
    <arg name="robot_yaw" default="1.55" />
    <!-- <arg name="robot_yaw" default="0.03" /> -->

    <!-- goal location -->
    <!-- <arg name="goal_x" default="-12.28" />
    <arg name="goal_y" default="10.9" />
    <arg name="goal_z" default="0.7" /> -->

    <arg name="world_name" default="$(find rvo_ros)worlds/example.world" />

    <!-- Load the description for the robot -->
    <arg name="robot_name" default="trina2"/>
    <param name="robot_description" command="$(find xacro)/xacro 
        $(find freight_description)/robot/urdf/trina2_base.xacro 
                ns:=$(arg robot_name) sim:=true --inorder"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="paused" value="true" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
        <arg name="verbose" value="false" />
    </include>

    <!-- Spawn the robot in Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" 
        output="screen" args="-urdf -param robot_description -model $(arg robot_name) 
            -x $(arg robot_x) 
            -y $(arg robot_y) 
            -z $(arg robot_z) 
            -Y $(arg robot_yaw)"/> 

    <!-- Load controller configuration files from trina2_control package -->
    <rosparam file="$(find trina2_control)/config/base/mobile_base_controller.yaml" command="load" />

    <!-- Start base and camera controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" args="base_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Launch rvo agent -->
    <node name="move_trina2" pkg="rvo_ros" type="main.py" output="screen"/>

</launch>
