<launch>
    <!-- Initial robot pose -->
    <arg name="robot_x" default="-6.31" />
    <arg name="robot_y" default="-5.95" />
    <arg name="robot_z" default="0.0" />
    <arg name="robot_yaw" default="1.55" />

    <!-- Show Gazebo gui -->
    <arg name="gui" default="false" />

    <!-- Set scenario -->
    <arg name="scenario" default="approach_human" />
    <param name="scenario" value="$(arg scenario)" />

    <!-- Set control mode -->
    <arg name="control_mode" default="auto" />
    <param name="control_mode" value="$(arg control_mode)" />

    <!-- Set world -->
    <arg name="world_name" default="$(find rvo_ros)worlds/$(arg scenario).world" />

    <!-- Include Gazebo simulation launch file -->
    <include file="$(find rvo_ros)/launch/gazebo_sim.launch" >
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="robot_x" value="$(arg robot_x)" />
        <arg name="robot_y" value="$(arg robot_y)" />
        <arg name="robot_z" value="$(arg robot_z)" />
        <arg name="robot_yaw" value="$(arg robot_yaw)" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- Launch rvo agent -->
    <node name="move_trina2" pkg="rvo_ros" type="main.py" output="screen" args="$(arg scenario)" />

    <!-- Launch the visual interface -->
    <node name="visual_interface_" pkg="visual_interface" type="visual_interface_node" output="screen" />

    <!-- Launch the falcon novint haptic interface -->
    <node name="haptic_interface" pkg="sim_control" type="falcon_novint_control.py" output="screen" />

</launch>
