<?xml version="1.0"?>

<robot name="trina2" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Arguments -->
    <xacro:arg name="sim" default="true" />
    <xacro:arg name="ns" default="trina2" />

    <!-- Include files -->
    <xacro:include filename="$(find freight_description)/base/urdf/freight_macro.xacro" />
    <xacro:include filename="$(find freight_description)/base/urdf/torso.urdf.xacro" />
    <xacro:include filename="$(find freight_description)/camera/urdf/main_camera_support.urdf.xacro" />
    <xacro:include filename="$(find freight_description)/camera/urdf/rear_camera_support.urdf.xacro" />

    <!-- Load main camera -->
    <xacro:load_main_camera ns="$(arg ns)" prefix="main_" main_camera_base="torso"
                            color_w="1280" color_h="720" depth_w="858" depth_h="480" update_rate="30" wide_flag="true"/>

    <!-- Load rear camera -->
    <xacro:load_rear_camera ns="$(arg ns)" prefix="rear_" main_camera_base="torso"
                            color_w="1280" color_h="720" depth_w="858" depth_h="480" update_rate="30" wide_flag="true"/>

    <!-- Load the base -->
    <xacro:load_base ns="$(arg ns)"/>

    <!-- Load torso -->
    <xacro:load_torso ns="$(arg ns)"/> 

    <!-- Load gazebo control plugin ONLY ONCE -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>


</robot>